@{
    ViewData["Title"] = "About Us";
}

<div class="aboutus">
    <img src="~/Images/aboutus1.jpg" alt="">
    <img src="~/Images/aboutus2.jpg" alt="">
    <div>
        <p>Category interesting FOR YOU</p>
    </div>
    <div>
        <p>The most exclusive events</p>
    </div>
</div>