@{
    ViewData["Title"] = "Home Page";
}

<div class="index">
    <div>
        <img src="~/Images/titleIndexPhoto.jpg" alt="IndexPhoto">
    </div>
    <h1>Welcome</h1>
    <p>Join to us and celebrate it</p>
    <p class="subtitleHeader">Why Events???</p>
    <div>
        <p class="subtitle subtitleGreen">Be a part of the most exciting events in your city</p>
        <p class="subtitle subtitleBlue">Organize your own events and sell tickets</p>
        <p class="subtitle subtitleGreen">Meet new people</p>
        <p class="subtitle subtitleBlue">Choose event from your favourite category</p>
    </div>
</div>
