@{ 
    ViewData["Title"] = "Error";
}

<div style="
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 50vh;
    left: 50vw;
    width: 100vw;
    height: 80vh;
    transform: translate(-50%, -50%);">

    <p style="
    font-size:50px;
    color:red;
    font-weight:bold;
    ">
        Najpierw stwórz konta !!!!!!!
    </p>

    <button style="font-size: 50px;"><a asp-controller="Data" asp-action="Index">Wróć</a></button>
</div>