@{
    ViewData["Title"] = "Data";
}


<div style="
        margin-top:50px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        top: 50vh;
        left: 50vw;
        width : 100vw;
        height : 80vh;
        transform: translate(-50%, -50%);
        ">
    <button style="font-size: 50px;"><a asp-controller="Data" asp-action="CreateAccounts">Dodaj konta</a></button>
    <button style="font-size: 50px;"><a asp-controller="Data" asp-action="DeleteAccounts">Usuń konta</a></button>
    <button style="font-size: 50px;"><a asp-controller="Data" asp-action="CreateEvents">Dodaj eventy</a></button>
    <button style="font-size: 50px;"><a asp-controller="Data" asp-action="DeleteEvents">Usuń eventy</a></button>
    <button style="font-size: 50px;"><a asp-controller="Data" asp-action="SaveDataToJSON">Zapisz Dane</a></button>
    <button style="font-size: 50px;"><a asp-controller="Data" asp-action="ReadDataFromJSON">Wczytaj Dane</a></button>
</div>